<footer>
    <footer>
        <h2>Join the community</h2>
            <p>Take quizzes by the community, or create your own. Explore and learn new things.</p>
            <button class="view-all">Get started</button>
    </footer>
    
</footer>