<header>
  <div class="logo">BrainyQuiz</div>
  <nav>
      <a href="/home">Home</a>
      <a href="/createquiz">Create</a>
      <a href="/categories">Learn</a>
      <a href="/featuredquiz">Community</a>
      <a href="/contact">Contact</a>
      <a href="/about">About</a>
  </nav>
  <div class="auth-buttons">
      <button class="sign-in">Sign in</button>
      <button class="get-started">Get Started</button>
  </div>
</header>