<header>
    <div class="logo">
      <h1>Quiz Enthusiast</h1>
      <p>Discover Your Knowledge, One Quiz at a Time</p>
    </div>
    <nav>
      <ul>
        <li><a href="/home">Home</a></li>
        <li><a href="/featuredquiz">Featured Quizzes</a></li>
        <li><a href="/categories">Categories</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/createquiz">Create a Quiz</a></li>
        <li><a href="/contact">Contact</a></li>
      </ul>
    </nav>
  </header>