<% layout("layouts/boilerplate")%>
<link rel="stylesheet" href="css/category.css">
<body>
  <main>
    <div class="container">
      <h1>Choose a category</h1>
      <div class="search-bar">
        <input type="text" placeholder="Search for quizzes...">
      </div>
      <div class="category-list">
        <h2>Categories</h2>
        <ul>
          <li>Popular</li>
          <li>Trending</li>
          <li>New</li>
          <li>Picks for you</li>
          <li>Just for fun</li>
          <li>Trivia</li>
          <li>Entertainment</li>
          <li>Geography</li>
          <li>History</li>
          <li>Science</li>
          <li>Sport</li>
          <li>Math</li>
        </ul>
      </div>
      <div class="daily-quizzes">
        <h2>Daily Quizzes</h2>
        <div class="quiz-item">
          <img src="/images/category/Screenshot 2024-05-28 161341.png" alt="Animal Icons">
          <h3>Cute or Not?</h3>
          <p>7 questions. Are these animals cute or not?</p>
        </div>
        <div class="quiz-item">
          <img src="/images/category/Screenshot 2024-05-28 161359.png" alt="People Pleaser Quiz">
          <h3>Are You a People Pleaser?</h3>
          <p>10 questions. Are you a people pleaser?</p>
        </div>
      </div>
      <div class="in-progress">
        <h2>In Progress</h2>
        <ul>
          <% for(let i=0;i<quiz.length;i++){ %>
          <li>
            <% if(quiz[i].image && quiz[i].image.data){ %>
              <img src="data:<%=quiz[i].image.contentType%>;base64,<%= quiz[i].image.data.toString("base64") %>" alt="People Pleaser Quiz">
            <%} else{ %>
              <img src='/images/unloaded/pngtree-image-icon-png-image_8177635.png' alt="Reference image">
            <% } %>
            <div><%=quiz[i].quiztitle %></div>
            <a href="/quiz/<%= quiz[i]._id %>/rules" class="start">Start</a>
          </li>
          <% } %>
        </ul>
      </div>
      
    </div>
    <script src="/js/category.js"></script>
  </main>
</body>