<% layout("layouts/boilerplate")%>
<link rel="stylesheet" href="/css/createquiz.css">
  <body>

    <main>
      <section class="create-quiz-section">
        <h2>Create Your Own Multiple-Choice Quiz</h2>
        <div class="create-quiz-content">

          <form class="quiz-form" action="/home" method="post" enctype="multipart/form-data">
            <div class="form-group">
              <label for="quiz-title">Quiz Title</label>
              <input type="text" id="quiz-title" name="quizTitle" required>
            </div>
            <div class="form-group">
              <label for="quiz-description">Quiz Description</label>
              <textarea id="quiz-description" name="quizDescription" required></textarea>
            </div>
            <h3>give an image input</h3>
            <div class="image">
                <input type="file" class="inputimage" name="image" accept="image/* ">
            <br><br><br>
            </div>
            <div class="form-group">
              <label for="quiz-category">Quiz Category</label>
              <select id="quiz-category" name="quizCategory" required>
                <option value="">Select a Category</option>
                <option value="science">Science</option>
                <option value="sports">Sports</option>
                <option value="history">History</option>
                <option value="geography">Geography</option>
                <option value="entertainment">Entertainment</option>
                <option value="math">Math</option>
              </select>
            </div>
            <div class="form-group">
              <label for="quiz-questions">Quiz Questions</label>
              <div id="quiz-questions">
                <div class="question-input">
                  <input type="text" class="question" placeholder="Question" >
                  <div class="answer-options">
                    <input type="text"  class="opt" placeholder="Option A" >
                    <input type="text"  class="opt" placeholder="Option B" >
                    <input type="text"  class="opt" placeholder="Option C" >
                    <input type="text"  class="opt" placeholder="Option D" >
                    <input type="text"  class="ans" placeholder="Correct Answer (A-D)">
                    <button type="button" class="clearbtn">Clear</button>
                  </div>
                </div>
                <button type="button" class="add-question">Add Question</button>
              </div>
            </div>
            <input type="hidden" name="questiondata" class="hidden-input">
            <button type="submit" class="cta-button">Submit Quiz</button>
          </form>
          <div class="create-quiz-info">
            <h3>Questions you have added</h3>
          </div>
        </div>
      </section>
    </main>
    <script src="js/createquiz.js"></script>
  </body>