<% layout("layouts/boilerplate") %>
<link rel="stylesheet" href="/css/home.css">
<body>
  <main>
    <section class="welcome-section">
        <div class="welcome-image">
            <img src="/images/home/Screenshot 2024-05-28 110709.png" alt="Quiz Image">
        </div>
        <div class="welcome-text">
            <h1>Welcome to BrainyQuiz</h1>
            <p>A place to learn and grow, together</p>
            <button class="start-exploring">Start Exploring</button>
        </div>
    </section>
    <section class="featured-content">
        <h2>Featured Content</h2>
        <p>Take quizzes by the community, or create your own. Explore and learn new things.</p>
        <button class="view-all">View All</button>
        <div class="quiz-categories">
            <div class="category">
                <img src="/images/home/Screenshot 2024-05-28 110736.png" alt="Featured Quiz">
                <p>Featured Quiz</p>
                <span>Quiz: The Ultimate Harry Potter Trivia</span>
            </div>
            <div class="category">
                <img src="/images/home/Screenshot 2024-05-28 110752.png" alt="Top Quizzes">
                <p>Top Quizzes</p>
                <span>Quiz: General Knowledge</span>
            </div>
            <div class="category">
                <img src="/images/home/Screenshot 2024-05-28 110758.png" alt="New Quizzes">
                <p>New Quizzes</p>
                <span>Quiz: Science Trivia</span>
            </div>
        </div>
        <div class="categories">
            <div class="category">
                <img src="/images/home/Screenshot 2024-05-28 111655.png" alt="Technology">
                <p>Technology</p>
            </div>
            <div class="category">
                <img src="/images/home/Screenshot 2024-05-28 111704.png" alt="Entertainment">
                <p>Entertainment</p>
            </div>
            <div class="category">
                <img src="/images/home/Screenshot 2024-05-28 111711.png" alt="Science">
                <p>Science</p>
            </div>
            <div class="category">
                <img src="/images/home/Screenshot 2024-05-28 111721.png" alt="Lifestyle">
                <p>Lifestyle</p>
            </div>
            <div class="category">
                <img src="/images/home/Screenshot 2024-05-28 111730.png" alt="History">
                <p>History</p>
            </div>
        </div>
    </section>
</main>
</body>