<% layout("layouts/boilerplate") %>
<link rel="stylesheet" href="/css/signup.css">
<body>
    <div class="container">
        <h2>Get ready to play</h2>
        <form>
          <div class="form-group">
            <input type="email" class="form-control" placeholder="Email address">
          </div>
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Username">
          </div>
          <div class="form-group">
            <input type="password" class="form-control" placeholder="Password">
          </div>
          <button type="submit" class="btn btn-primary">Sign up</button>
        </form>
        <p>By using our services, you agree to our Terms of Service and Privacy Policy</p>
        <p>Already have an account?</p>
      </div>
</body>
