<% layout("layouts/boilerplate") %>
<link rel="stylesheet" href="css/testlist.css">
<body>
<main>
    <section class="quiz-list">
      <h2>Science Quizzes</h2>
      <div class="quiz-container">
        <div class="quiz-item">
          <h3>Biology Quiz</h3>
          <p>Test your knowledge of living organisms and their processes.</p>
          <a href="/quiz/1" class="cta-button">Take Test</a>
        </div>
        <div class="quiz-item">
          <h3>Chemistry Quiz</h3>
          <p>Explore the fascinating world of chemical elements and reactions.</p>
          <a href="/quiz/2" class="cta-button">Take Test</a>
        </div>
        <div class="quiz-item">
          <h3>Physics Quiz</h3>
          <p>Challenge your understanding of the laws of nature.</p>
          <a href="/quiz/3" class="cta-button">Take Test</a>
        </div>
      </div>
    </section>
  </main>
  </body>