<% layout("layouts/boilerplate") %>
<link rel="stylesheet" href="/css/testlist.css">

<body>
  <main>
    <section class="quiz-list">
      <h2>Choose a test to begin</h2>
      <div class="quiz-container">

        <% for (let i = 0; i < tests.length; i++) { %>
        <div class="quiz-item">
          <h3><%=tests[i].quiztitle%></h3>
          <p><%=tests[i].questions.length%> questions</p>
          <a href="/quiz/rules" class="cta-button">Start</a>
        </div>
        <%}%>
        
      </div>
    </section>
  </main>
</body>