<% layout("layouts/boilerplate") %>
<link rel="stylesheet" href="/css/testlist.css">
<body>
<main>
    <section class="quiz-list">
      <h2>Science Quizzes</h2>
      <div class="quiz-container">
        <% for (let i = 0; i < tests.length; i++) { %>
          <div class="quiz-item">
            <h3><%=tests[i].quiztitle%></h3>
            <p><%=tests[i].quizdescription %></p>
            <a href="/quiz/rules" class="cta-button">Take Test</a>
          </div>
        <% }%>
      </div>
    </section>
  </main>
  </body>
