/* Container styling */
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

/* Header styling */
h1, h2 {
  text-align: center;
  margin-bottom: 20px;
}

/* Search bar styling */
.search-bar {
  text-align: center;
  margin-bottom: 20px;
}

.search-bar input {
  padding: 10px;
  width: 300px;
  border-radius: 20px;
  border: 1px solid #ccc;
}

/* General list styling */
ul {
  list-style-type: none;
  padding: 0;
}

li {
  background-color: #f0f0f0;
  border-radius: 10px;
  margin: 10px 0;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

li div {
  margin: 5px 0;
}

/* Category list specific styling */
.category-list ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.category-list li {
  padding: 10px 20px;
  margin: 5px;
  cursor: pointer;
  text-decoration: none;
  color: #000;
  background-color: #f0f0f0;
  border-radius: 20px;
}

/* Daily quizzes and featured topics specific styling */
.daily-quizzes{
  position:absolute;
  right: 5%;
}
.quiz-item, .topic-item {
  text-align: center;

  padding: 10px;
}

.quiz-item img, .topic-item img {
  /* width: 100px;
  height: 100px; */
  height: 120px;
  border-radius: 10px;
  margin-bottom: 10px;
}

.daily-quizzes ul, .featured-topics ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}


/* In-progress section styling */
.in-progress li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.in-progress li div{
  font-size: large;
  font-weight: 700;
}
.in-progress{
  width: 60%;
}

.in-progress div {
  flex: 1;
  text-align: left;
  padding: 5px;
}
.in-progress img{
  height: 80px;
}

.in-progress div:nth-child(2) {
  text-align: center;
}

.in-progress div:nth-child(3) {
  text-align: right;
}

.start {
  background-color: #007bff;
  color: #fff;
  border: none;
  width: 70px;
  height: 40px;
  border-radius:10px ;
  font-size: large;
} 
.start:hover{
  background-color: #007bffce;
}